.services-section {

  width:100%;

  padding:80px 0;

  background:#ffffff;

}



.services-container {

  width:100%;

  max-width:1280px;

  margin:auto;

  padding:0 24px;

}



.services-heading {

  max-width:800px;

  margin:auto;

  text-align:center;

}



.services-heading p {

  color:#2563eb;

  font-size:14px;

  font-weight:700;

  letter-spacing:3px;

  text-transform:uppercase;

}



.services-heading h2 {

  margin-top:20px;

  font-size:48px;

  font-weight:800;

  color:#0f172a;

}



.services-heading h2 span {

  display:block;

  color:#2563eb;

}



/* Cards Layout */

.service-grid {

  margin-top:60px;

  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:24px;

}



/* Card */

.service-card {

  background:white;

  padding:28px;

  min-height:260px;

  border-radius:24px;

  border:1px solid #e2e8f0;

  text-align:center;

  transition:.3s ease;

}



.service-card:hover {

  transform:translateY(-8px);

  box-shadow:0 20px 40px rgba(0,0,0,.08);

}



/* Icon */

.service-icon {

  width:64px;

  height:64px;

  margin:auto;

  display:flex;

  align-items:center;

  justify-content:center;

  border-radius:18px;

  background:#dbeafe;

  color:#2563eb;

}



.service-card h3 {

  margin-top:22px;

  font-size:22px;

  font-weight:700;

  color:#0f172a;

}



.service-card p {

  margin-top:14px;

  line-height:1.6;

  color:#64748b;

  font-size:15px;

}



/* Tablet */

@media(max-width:1100px){

  .service-grid{

    grid-template-columns:repeat(2,1fr);

  }

}



/* Mobile */

@media(max-width:768px){

  .services-section{

    padding:50px 0;

  }


  .service-grid{

    grid-template-columns:1fr;

  }


  .services-heading h2{

    font-size:36px;

  }

}