.landing-services {

  padding:70px 40px;

}



.services-container {

  max-width:1200px;

  margin:auto;

}



/* Heading */

.services-header {

  text-align:center;

  margin-bottom:40px;

}



.services-header h2 {

  font-size:40px;

  font-weight:700;

  color:#111827;

}



.services-header p {

  margin-top:12px;

  color:#64748b;

  font-size:17px;

  line-height:1.6;

}



/* Cards */

.services-cards {

  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:24px;

}



.service-card {

  background:white;

  border-radius:20px;

  padding:30px;

  min-height:280px;

  box-shadow:0 10px 30px rgba(0,0,0,0.08);

  transition:.3s ease;

}



.service-card:hover {

  transform:translateY(-8px);

}



.service-card h3 {

  font-size:21px;

  margin-bottom:18px;

  color:#111827;

}



/* Description */

.service-card p {

  color:#64748b;

  font-size:14px;

  line-height:1.8;

  white-space:pre-line;

}



/* Responsive */

@media(max-width:1000px){

  .services-cards{

    grid-template-columns:repeat(2,1fr);

  }

}



@media(max-width:600px){

  .landing-services{

    padding:40px 20px;

  }

  .services-cards{

    grid-template-columns:1fr;

  }

  .services-header h2{

    font-size:32px;

  }

  .service-card{

    min-height:auto;

  }

}