.landing-services {

  width:100%;
  padding:80px 40px;

}


.landing-services-container {

  max-width:1200px;

  margin:auto;

  display:grid;

  grid-template-columns:1fr 1fr;

  align-items:center;

  gap:70px;

}



.services-content {

  max-width:550px;

}



.service-tag {

  color:#2563eb;

  font-weight:700;

  margin-bottom:15px;

}



.services-content h2 {

  font-size:42px;

  line-height:1.2;

  font-weight:800;

  color:#111827;

  margin-bottom:20px;

}



.service-description {

  font-size:18px;

  color:#64748b;

  line-height:1.7;

  margin-bottom:30px;

}



.service-btn {

  display:inline-flex;

  align-items:center;

  justify-content:center;

  padding:14px 32px;

  border-radius:10px;

  background:#2563eb;

  color:white;

  text-decoration:none;

  font-weight:600;

  transition:.3s;

}



.service-btn:hover {

  transform:translateY(-4px);

  background:#1d4ed8;

}



.services-image {

  width:100%;

  display:flex;

  justify-content:center;

  align-items:center;

}



.services-image img {

  width:100%;

  max-width:550px;

  height:auto;

  display:block;

  border-radius:24px;

  object-fit:cover;

}



@media(max-width:768px){


.landing-services{

  padding:50px 20px;

}



.landing-services-container{

  grid-template-columns:1fr;

  gap:40px;

}



.services-image{

  order:-1;

}



.services-content h2{

  font-size:32px;

}


.service-description{

  font-size:16px;

}

}