.admin-sidebar{
    width:260px;
    min-height:100vh;
    background:#0f172a;
    color:#fff;
    padding:30px 20px;
    position:sticky;
    top:0;
}

.admin-sidebar h2{
    margin-bottom:35px;
    text-align:center;
}

.admin-sidebar nav{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.admin-sidebar a{
    display:flex;
    align-items:center;
    gap:12px;
    padding:14px 16px;
    border-radius:12px;
    color:#cbd5e1;
    text-decoration:none;
    transition:.3s;
}

.admin-sidebar a:hover,
.admin-sidebar a.active{
    background:#2563eb;
    color:#fff;
}