.expertise-section{

padding:80px 0;
background:#f8fafc;

}


.expertise-container{

max-width:1280px;
margin:auto;
padding:0 24px;

}



.expertise-heading{

text-align:center;
margin-bottom:50px;

}


.expertise-heading p{

color:#2563eb;
font-weight:700;

}


.expertise-heading h2{

margin-top:15px;
font-size:42px;
font-weight:800;
color:#0f172a;

}


.expertise-heading span{

display:block;
color:#2563eb;

}



.expertise-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:28px;

}



.expertise-card{

background:white;

padding:30px;

border-radius:24px;

border:1px solid #e2e8f0;

transition:.3s;

}



.expertise-card:hover{

transform:translateY(-8px);

}



.expertise-icon{

width:60px;

height:60px;

display:flex;

align-items:center;

justify-content:center;

border-radius:16px;

background:#dbeafe;

color:#2563eb;

}



.expertise-card h3{

margin-top:20px;

font-size:22px;

font-weight:700;

}



.expertise-card p{

margin-top:12px;

color:#64748b;

line-height:1.6;

}



@media(max-width:1000px){

.expertise-grid{

grid-template-columns:repeat(2,1fr);

}

}



@media(max-width:700px){

.expertise-grid{

grid-template-columns:1fr;

}

}