.blog-hero{
    width:100%;
    padding:110px 0;
    background:#eff6ff;
}

.blog-hero-container{
    width:100%;
    max-width:1280px;
    margin:auto;
    padding:0 24px;
}

.blog-hero-content{
    max-width:850px;
    margin:auto;
    text-align:center;
}

.blog-badge{
    display:inline-flex;
    align-items:center;
    gap:10px;

    padding:12px 22px;

    background:#dbeafe;

    color:#2563eb;

    border-radius:999px;

    font-size:14px;

    font-weight:700;
}

.blog-hero h1{
    margin-top:35px;

    font-size:60px;

    font-weight:800;

    line-height:1.1;

    color:#0f172a;
}

.blog-hero h1 span{
    display:block;
    color:#2563eb;
}

.blog-hero p{
    max-width:760px;

    margin:28px auto 0;

    font-size:18px;

    line-height:1.9;

    color:#64748b;
}

.blog-buttons{
    margin-top:45px;

    display:flex;
    justify-content:center;
    gap:18px;

    flex-wrap:wrap;
}

.blog-primary-btn{
    display:flex;
    align-items:center;
    gap:10px;

    padding:14px 30px;

    border:none;

    border-radius:12px;

    background:#2563eb;

    color:#ffffff;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.blog-primary-btn:hover{
    background:#1d4ed8;
}

.blog-secondary-btn{
    padding:14px 30px;

    border:1px solid #cbd5e1;

    border-radius:12px;

    background:#ffffff;

    color:#0f172a;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.blog-secondary-btn:hover{
    background:#f8fafc;
}

@media(max-width:768px){

.blog-hero{
    padding:90px 0;
}

.blog-hero h1{
    font-size:42px;
}

.blog-hero p{
    font-size:17px;
}

}